@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, #303833, #1d2725);

}
.bg1{
  background: linear-gradient(0deg, #303833, #1d2725);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.absoulte-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-non-static {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.bg {

  background: #b92b27;
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
  background: linear-gradient(to right, #1565C0, #b92b27);



/* 
  background-color: #0000002e;
  backdrop-filter: blur(12px);
  opacity: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}


.bg2 {
  background-color: #0000002e;
  backdrop-filter: blur(12px);
  opacity: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  /* scrollbar-width: auto; */
  scrollbar-color: #918b92 #00000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #918b92;
  border-radius: 10px;
}

.test {
  background-color: #0000002e;
  backdrop-filter: blur(12px);
  opacity: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.card {
  background-color: #0000002d;
  
  opacity: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 28px 30px -18px;
    
}
.btn1{
  background-color: #00000039;
  backdrop-filter: blur(12px);
  border-image: linear-gradient(45deg, rgb(143, 55, 0), rgb(66, 228, 250)) 1;
  opacity: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 38px 76px -18px;
}


.btn2{
  background: linear-gradient(0deg, #1d2725, #303833);
  color: #c6c6c6;
  
  /* border-radius: 15px; */

}

.btn2:hover{
  background: linear-gradient(0deg, #303833, #1d2725);
  color: #ffffff;
  

}


.bg-primary{
  background-color: #0000002e;
  backdrop-filter: blur(12px);
  opacity: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
#k1{

  background-color: transparent;
  border-right: 1px solid #ffffff;
  border-bottom-right-radius: 20px;
}

#k2{

  border-top: 1px solid #ffffff;

}
#k3{
  background-color: transparent;
  border-left: 1px solid #ffffff;
  border-bottom-left-radius: 20px;

 
}

#test{
  transform-origin: top left !important;
}